<div class='container'>
  <div class='row'>
    <div class='col-md-3'>
      <!--<h2>User info</h2>-->
      <!--<!%= render 'users/info', user: @catch.user %>-->
      <h2 class="mt-3">New catch</h2>
      <%= render 'form', catch: @catch_new %>
    </div>
    <div class='col-md-8 offset-md-1'>
  		<h2>Catch detail</h2>
  		<table class='table'>
  		  <tr>
          <td>
            <%= link_to mypage_path(@catch.user) do %>
              <%= image_tag @catch.user.get_image(100,100) %><br>
              <%= @catch.user.name %>
            <% end %>
          </td>
          <td><%= link_to @catch.title, @catch %></td>
          <td><%= @catch.body %></td>

          <!--いいね機能の追加-->
          <% if @catch.favorited_by?(current_user) %>
            <td>
              <%= link_to catch_favorites_path(@catch), method: :delete do %>
                ♥<%= @catch.favorites.count %>
              <% end %>
            </td>
            <% else %>
            <td>
              <%= link_to catch_favorites_path(@catch), method: :post do %>
                ♡<%= @catch.favorites.count %>
              <% end %>
            </td>
          <% end %>

          <!--コメント機能-->
          <td>
            <p>コメント数：<%= @catch.post_comments.count %></p>
          </td>

          <% if current_user == @catch.user %>
            <td><%= link_to 'Edit', edit_catch_path(@catch), class: "btn btn-sm btn-success" %></td>
            <td><%= link_to 'Destroy', catch_path(@catch), method: :delete, data: { confirm: '本当に消しますか？' }, class: "btn btn-sm btn-danger"%></td>
          <% end %>
        </tr>
        <% @catch.post_comments.each do |post_comment| %>
          <tr>
            <td>
              <%= link_to mypage_path(post_comment.user) do %>
                <%= image_tag post_comment.user.get_image(50,50) %><br>
                <%= post_comment.user.name %>
              <% end %>
            </td>
            <td>
              <%= post_comment.comment %>
            </td>
            <td>
              <% if post_comment.user == current_user %>
                <%= link_to 'Destroy', catch_post_comment_path(post_comment.catch, post_comment), method: :delete, class: "btn btn-sm btn-danger" %>
              <% end %>
            </td>
          </tr>
        <% end %>
      </table>

      <div class='col-md-12'>
        <%= form_with model: [@catch, @post_comment] do |f| %>
          <%= f.text_area :comment, class: "form-control", placeholder: "コメントをここに" %>
          <br>
          <%= f.submit "送信する" %>
        <% end %>
      </div>

  </div>
</div>
